// create variable of nums of lists 
$numsOfLists:15;

.sidebar {
    flex: 2;
    background-color: #f5f5f5;
    // margin: 10px 0px 0px 20px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    height: calc(62 * #{$numsOfLists}px);




    .sidebarWrapper {
        padding: 20px 0px 20px 0px;

        .sidebarList {
            padding: 0px;
            margin: 0px;
            list-style: none;
            cursor: pointer;


            .sidebarListItem {
                padding: 10px;
                display: flex;
                align-items: center;

                margin-bottom: 10px;
                transition: all 0.3s ease;
                border-bottom: 1px dashed #3f0ed4;

                //delete the last border
                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: #ebebeb;
                    border-radius: 10px;
                }

                .sidebarListIcon {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }


            }
        }
    }
}