.sidebar {
    flex: 2;
    background-color: #f5f5f5;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    width: 100%;





    .sidebarWrapper {
        padding: 20px 0px 20px 0px;

        .sidebarList {
            padding: 0px;
            margin: 0px;
            list-style: none;
            cursor: pointer;
        }
    }
}